<div>
    <h2 class="h4 card-title font-weight-bold text-center mb-3">
        Powered by Ethplorer:
    </h2>
    <p class="card-text text-white-50 text-center mb-3">
        Most of the great projects out there are already using Ethplorer's API
    </p>
    <div class="powered-items">
        <a href="https://myetherwallet.com" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/myetherwallet.png"
                alt="MyEtherWallet"
                width="140"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://metamask.io" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/metamask.png"
                alt="Metamask"
                width="120"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://about.bancor.network" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/bancor.svg"
                alt="Bancor"
                width="100"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://storj.io" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/storj.svg"
                alt="Storj"
                width="85"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://mycrypto.com" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/mycrypto.svg"
                alt="MyCrypto"
                width="110"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://atomicwallet.io" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/atomicwallet.png"
                alt="AtomicWallet"
                width="80"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://www.coinigy.com" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/coinigy.svg"
                alt="Coinigy"
                width="110"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://cointracking.info" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/cointracking.png"
                alt="Cointracking"
                width="140"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://ambisafe.com" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/ambisafe.svg"
                alt="Ambisafe"
                width="115"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://coinpeak.io" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/coinpeak.png"
                alt="Coinpeak"
                width="115"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://coinbooks.io" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/coinbooks.png"
                alt="Coinbooks"
                width="120"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://chainy.link" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/chainy.png"
                alt="Chainy"
                width="115"
                decoding="async"
                importance="low"
            />
        </a>
        <a href="https://everex.cash" class="opacity-50 mb-3" target="_blank" rel="noopener noreferrer nofollow">
            <img
                src="../assets/images/logos/everexwallet.png"
                alt="EverexWallet"
                width="100"
                decoding="async"
                importance="low"
            />
        </a>
    </div>
</div>
