<div class="card bg-dark mb-4">
    <div class="card-body d-flex flex-column flex-sm-row flex-md-column flex-lg-row">
        <h4 class="card-title">See samples:</h4>
        <p class="card-text">
            <a href="/address/0xd47297cdcf36eed17305d6a5471c6cd482c7e91c" class="highlighted">track address portfolio</a>,
            <a href="/tx/0x225ff3f300727e469138658ea3b2770a52de65e219044fd520a652d93e6aac4e" class="highlighted">token transfer</a>,
            <br/>
            <a href="/address/0xf3db5fa2c66b7af3eb0c0b782510816cbe4813b8" class="highlighted">token information and chart</a>,
            <br/>
            <a href="/tx/0x5d5299f0e87d06a53c3b52458c823b98524b9f7b228485a9badf15c871bca9c7?from=ehome" class="highlighted">token issuance with description</a>,
            <br/>
            Custom data: <a href="/address/0xf3763c30dd6986b53402d41a8552b8f7f6a6089b?from=ehome" class="highlighted">Chainy project</a>,
            <br/>
            Custom data: <a href="/tx/0xbfbf64b792a1416a501cb4234a667be66a8a4dfaa460d703a15678545ff27811?from=ehome" class="highlighted">Chainy Message</a>,
            <br/>
            <a href="/tx/0xfc56fad8d31c0f3d02c332f764c7b2b17e762b7d197b3f0f544a00425d5c57ee" class="highlighted">internal transactions/multiple transfers</a>,
            <a href="/address/0x6b9b275da653e270c0ad462a0e3dcd9906719fdc?from=ehome#tab=tab-issuances" class="highlighted">issuances</a>
        </p>
    </div>
</div>
