@import "custom";
@import "jquery";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap";

@import "loader";
@import "token-holders";

body {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.navbar {
  z-index: 1;
}

.nav-tabs {
  & .nav-link {
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }
}

.footer {
  background-color: #0d0d0d;
}

.shadow-sm-inner {
  box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.z-index-negative {
  z-index: -1;
}

.form-control.is-invalid + .input-group-append > .btn {
  border-color: #dc3545;
}

.form-control.is-invalid {
  background-image: none;
}

a.highlighted {
  border-bottom: 1px solid $body-color;
  // box-shadow: inset 0px -1px 0px 0px $primary;

  &.text-secondary {
    border-bottom: 1px solid $secondary;
    // box-shadow: inset 0px -1px 0px 0px #eee;
  }

  &.text-white-50 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.opacity-50 {
  opacity: 0.5;
}

main {
  position: relative;
  min-height: calc(100vh - 72px);
}

.ethplorer-widget {
  & .widget-top-totals {
    font-size: 0.7em;
  }
}

#token-pulse .widget-top-totals ~ div ~ div {
  display: none;
}

#token-top,
#token-last {
  overflow: hidden;
  font-size: 12px;
  background-color: transparent;
}

.editor-code {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

#token-txs-11 {
  line-height: 1.8;
  border-radius: 8px;
  max-width: 700px !important;
  background-blend-mode: darken;
  background-color: rgba(21,12,70,0.9);
}

#token-txs-11 .txs.big-screen-table td .tx-amount{
  display: inline-block;
  width: 150px;
  white-space: nowrap;
}

#token-txs-11 .txs.big-screen-table td .tx-link{
  max-width: 120px;
}

#token-txs-11 .txs.big-screen-table td .tx-link:last-child{
  max-width: 150px;
}

#token-txs-11 .txs.big-screen-table td .tx-amount a:nth-child(1){
  max-width: 110px !important;
}

#token-txs-11 .txs.big-screen-table td .tx-amount  a:nth-child(2){
  max-width: 50px !important;
}

.powered-items {
  @lost flexbox flex;
  lost-utility: clearfix;
}

.powered-items > a {
  lost-column: 1/2;
  display: inline-block;
  text-align: center;
}

.layout-fixed {
  table-layout: fixed !important;
}

.layout-auto {
  table-layout: auto !important;
}

body[data-page="top"] {
  & #token-top {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    font-weight: bold;
  }
}

body[data-page="last"] {
  & #token-last {
    max-width: 70%;
    font-size: 16px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
  }
}

@include media-breakpoint-up(md) {
  .powered-items > a {
    lost-column: 1/4;
  }

  .w-md-auto {
    width: auto !important;
  }

  .layout-md-auto {
    table-layout: auto !important;
  }
}

@include media-breakpoint-up(lg) {
  .powered-items > a {
    lost-column: 1/6;
  }

  #nav-search-form {
    max-width: 315px;
  }
}

@include media-breakpoint-up(xl) {
  #token-top {
    font-size: 14px;
  }

  .ethplorer-widget .tx-amount .tx-link,
  .ethplorer-widget .tx-token .tx-link {
    max-width: 50px !important;
  }
}

@include media-breakpoint-up(xxl) {
  .ethplorer-widget .tx-amount .tx-link,
  .ethplorer-widget .tx-token .tx-link {
    max-width: 80px !important;
  }
}

@include media-breakpoint-only(xs) {
  .btn-block-xs-only {
    display: block;
    width: 100%;
  }
}
