<div class="card border-0">
    <div class="card-header text-dark py-2 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h3 class="h4 p-0 m-0">Balances</h3>
            <sup class="ml-1">
                <i
                    class="fa fa-question-circle"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="ETH&nbsp;+&nbsp;Tokens"
                ></i>
            </sup>
        </div>
        <div class="text-secondary font-weight-bold">
            ~ $&nbsp;0.68
            <span class="text-success">(+1.7%)</span>
        </div>
    </div>
    <table class="table table-borderless table-striped m-0 table-dark table-sm">
        <tbody>
            <tr>
                <th scope="row" width="1">Address</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
