<div class="card border-0 bg-transparent">
    <div class="card-header text-dark py-2 d-flex align-items-center bg-white">
        <i class="fas fa-check mr-2"></i>
        <h3 class="h4 p-0 m-0">Chainy Information</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
            Chainy is a smart contract which allows to create and read different kind of data in Ethereum blockchain:
            <br/><br/>
            <b>AEON short links</b><br/>
            Irreplaceable short URLs (similar to bit.ly but impossible to change)
            <br/><br/>
            <b>Proof of Existence + Files</b><br/>
            Permanent proof of existence of the document (file) together with link to the file at one page
            <br/><br/>
            <b>Broadcast Messages</b><br/>
            Public text message on the Ethereum blockchain. Also may be encrypted
            <br/><br/>
            Read more: <a href="https://chainy.link" class="text-primary" target="_blank" rel="noopener nofollow">https://chainy.link</a><br/>
            Post your data: <a href="https://chainy.link/add" class="text-primary" target="_blank" rel="noopener nofollow">https://chainy.link/add</a>
        </p>
    </div>
</div>
