<div class="card border-0">
    <h3 class="h4 card-header text-dark py-2">
        {% if data.isContract %}Contract{% else %}Address{% endif %} Information
    </h3>
    <table class="table table-borderless table-striped m-0 table-dark table-sm">
        <tbody>
            <tr>
                <th scope="row" width="1">Address</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Created At</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Creator</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Create Tx</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Balance</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Total In</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Total Out</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Transactions</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Transactions</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
