<div class="card-body text-dark p-0">
    <div class="d-flex align-items-center justify-content-between bg-white">
        <h3 class="h4 card-title py-2 px-3 m-0">
            Token {{data.token.name}} Issuances
        </h3>
    </div>
    <table
        class="{{ classnames({
            'table table-borderless table-striped m-0 table-dark table-sm bg-transparent': true,
            'opacity-50': data.loading,
        }) }}"
    >
        <tbody>
            {% for tx in data.issuances|txValue %}
                <tr>

                </tr>
            {% else %}
                <tr><td class="text-center">No issuances found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include '@components/detail/pagination.twig' with {
    'ctx': ctx,
    'pager': data.pager.issuances,
    'config': config,
    'className': 'card-footer bg-white',
    'name': 'issuances',
} %}
