<div class="card border-0">
    <div class="card-header bg-white">
        <ul id="token-tabs" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="transfers-tab"
                    href="#transfers"
                    role="tab"
                    data-toggle="tab"
                    aria-controls="transfers"
                    aria-selected="true"
                >Transfers</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="issuances-tab"
                    href="#issuances"
                    role="tab"
                    data-toggle="tab"
                    aria-controls="issuances"
                    aria-selected="false"
                >Issuances</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="holders-tab"
                    href="#holders"
                    role="tab"
                    data-toggle="tab"
                    aria-controls="holders"
                    aria-selected="false"
                >Holders</a>
            </li>
        </ul>
    </div>
    <div id="token-tabsContent" class="tab-content">
        <div class="tab-pane fade show active" id="transfers" role="tabpanel" aria-labelledby="transfers-tab">
            {% include '@components/detail/token-transfers.twig' with {
                'data': data,
                'token': token,
                'config': config,
            } %}
        </div>
        <div class="tab-pane fade" id="issuances" role="tabpanel" aria-labelledby="issuances-tab">
            {% include '@components/detail/token-issuances.twig' with {
                'data': data,
                'token': token,
                'config': config,
            } %}
        </div>
        <div class="tab-pane fade" id="holders" role="tabpanel" aria-labelledby="holders-tab">
            {% include '@components/detail/token-holders.twig' with {
                'data': data,
                'token': token,
                'config': config,
            } %}
        </div>
    </div>
</div>
<div class="px-3 py-2 small">
    * all dates are displayed for GMT+7 timezone
</div>
