<div
    id="modal-subscribe"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-subscribe-title"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form
            class="modal-content"
            action="https://forms.tildacdn.com/procces/"
            method="POST"
            novalidate
            data-ga="subscribe:submit:form"
        >
            <div class="modal-body text-dark">
                <button
                    type="button"
                    class="close mt-n2"
                    data-dismiss="modal"
                    aria-label="Close"
                    data-ga="subscribe:click:close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title h2 mb-2" id="modal-subscribe-title">
                    Subscribe to newsletter
                </h5>
                <p class="mb-3">
                    We only send imporant updates once a month
                </p>
                <p class="mb-3 text-center" role="status-success" aria-hidden="true" style="display:none;">
                    <i class="fas fa-check-circle fa-3x text-success mb-2 d-block"></i>
                    Thanks!
                </p>
                <div class="mb-3" role="input-form">
                    <input
                        type="text"
                        name="email"
                        class="form-control form-control-lg"
                        placeholder="E-mail address"
                        required
                    />
                    <div class="invalid-feedback">
                        Please correct e-mail address
                    </div>
                </div>
                <p class="m-0">
                    Follow
                    <a
                        href="https://twitter.com/ethplorer"
                        class="highlighted text-dark"
                        target="_blank"
                        rel="noopener nofollow"
                    >Ethplorer's twitter</a>
                    to be first to know all tricks and updates
                </p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    data-ga="subscribe:click:close"
                >Close</button>
                <button type="submit" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span>
                    Subscribe
                </button>
            </div>
        </form>
    </div>
</div>
