<nav class="navbar navbar-light bg-white navbar-expand-lg flex-shrink-0">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img
                src="../assets/images/ethplorer-logo-48.png"
                width="170"
                decoding="async"
                importance="low"
                alt="Ethplorer"
            />
        </a>

        <a
            href="https://twitter.com/ethplorer"
            class="btn btn-primary ml-auto mr-2 mr-lg-0 d-none d-sm-inline-block d-lg-none"
            role="button"
            target="_blank"
            rel="noopener nofollow"
        >
            <i class="fab fa-twitter"></i>
            Follow @ethplorer
        </a>

        <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon" />
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav my-4 my-lg-0 mr-lg-2 text-nowrap">
                <li class="nav-item{% if active == 'top' %} active{% endif %}">
                    <a class="nav-link" href="/top?from=etop" data-ga="navigation:click:top">Top Tokens</a>
                </li>
                <li class="nav-item{% if active == 'chart' %} active{% endif %}">
                    <a class="nav-link" href="/index?from=etop" data-ga="navigation:click:index">Index Chart</a>
                </li>
                <li class="nav-item{% if active == 'last' %} active{% endif %}">
                    <a class="nav-link" href="/last?from=etop" data-ga="navigation:click:last">Last Tx</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://github.com/EverexIO/Ethplorer/wiki/Ethplorer-API"
                        target="_blank"
                        rel="noopener nofollow"
                        data-ga="navigation:click:api"
                    >
                        API
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#subscribe" data-toggle="modal" data-target="#modal-subscribe" data-ga="navigation:click:subscribe">
                        Subscribe
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbar-dropdown"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-ga="navigation:click:more"
                    >More</a>
                    <div class="dropdown-menu dropdown-menu-lg-right mb-3" aria-labelledby="navbar-dropdown">
                        <a data-ga="navigation:click:widgets" class="dropdown-item{% if active == 'widgets' %} active{% endif %}" href="/widgets?from=ehomefoot">
                            Widgets
                        </a>
                        <a data-ga="navigation:click:sources" class="dropdown-item" href="https://github.com/EverexIO/Ethplorer" target="_blank" rel="noopener nofollow">
                            Sources
                        </a>
                        <a class="dropdown-item" href="https://github.com/EverexIO/Ethplorer/wiki/Ethplorer-API" target="_blank" rel="noopener nofollow">
                            API
                        </a>
                        <div class="dropdown-divider"></div>
                        <a data-ga="navigation:click:issues" class="dropdown-item" href="https://github.com/EverexIO/Ethplorer/issues" target="_blank" rel="noopener nofollow">
                            Create Github Issue
                        </a>
                        <a data-ga="navigation:click:twitter" class="dropdown-item" href="https://twitter.com/ethplorer" target="_blank" rel="noopener nofollow">
                            Twitter
                        </a>
                        <a data-ga="navigation:click:reddit" class="dropdown-item" href="https://www.reddit.com/r/ethplorer/" target="_blank" rel="noopener nofollow">
                            Reddit
                        </a>
                        <a data-ga="navigation:click:update_token_info" class="dropdown-item" href="http://bit.ly/ethp-contact" target="_blank" rel="noopener nofollow">
                            Update your token info
                        </a>
                        <div class="dropdown-divider"></div>
                        <a data-ga="navigation:click:contact" class="dropdown-item" href="http://bit.ly/ethp-contact" target="_blank" rel="noopener nofollow">
                            Contact
                        </a>
                    </div>
                </li>
            </ul>
            {% if active %}
            <form
                id="nav-search-form"
                class="form-inline my-2 my-md-0 mr-lg-2 flex-grow-1"
                action="/search/"
                method="POST"
                novalidate
                data-ga="navigation:submit:search"
            >
                <div class="input-group input-group-sm flex-grow-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input
                        type="text"
                        name="data"
                        class="form-control"
                        placeholder="Token name or symbol / TX hash / address"
                        aria-label="Search"
                        autocomplete="off"
                        required
                    />
                </div>
            </form>
            {% endif %}
        </div>

        {% if active %}
            <a
                href="https://twitter.com/ethplorer"
                class="btn btn-primary btn-sm d-none d-lg-inline-block"
                role="button"
                target="_blank"
                rel="noopener nofollow"
                data-ga="navigation:click:twitter"
            >
                <i class="fab fa-twitter"></i>
            </a>
        {% else %}
            <a
                href="https://twitter.com/ethplorer"
                class="btn btn-primary d-none d-lg-inline-block"
                role="button"
                target="_blank"
                rel="noopener nofollow"
                data-ga="navigation:click:twitter"
            >
                <i class="fab fa-twitter"></i>
                Follow @ethplorer
            </a>
        {% endif %}
    </div>
</nav>
