{{#> layout}}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5 font-weight-bold">Ethereum Tokens Index</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <div id="token-top"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-auto position-relative text-center mb-4">
    <header class="container">
        <h2 class="py-4 text-center">See also</h2>
    </header>
    <section class="container">
        <p><a href="/top" class="highlighted"><b>Top Ethereum Tokens Activity</b></a></p>
        <p><a href="/last" class="highlighted"><b>Recent Token operations monitor</b></a></p>
        <p><a href="/widgets" class="highlighted"><b>Token Widgets and Charts <nobr>for your website</nobr></b></a></p>
    </section>
</div>
{{/layout}}
