{{#> layout }}
<article class="mt-auto">
    <header class="container">
        <h2 class="py-5 text-center">About Ethplorer</h2>
    </header>
    <section class="container">
        <div class="row pb-5">
            <div class="col-sm">
                <p>
                    Token information and analytics for crypto investors, brokers, hedge funds and cryptomarket traders.
                </p>
                <p>
                    Easy access to Ethereum-issued tokens, along with charts and in-depth transactions history based on token addresses, helping users to turn knowledge into powerful decision making.
                </p>
            </div>
            <div class="col-sm">
                <p>
                    Track portfolio for any Ethereum address with historical balance charts and transactions.
                </p>
                <p>
                    Complete address analytics from historical balances to the volumes of trading, operations and transfers per token per day.
                </p>
                <p>
                    Explore marketing possibilities with token API and display widgets.
                </p>
            </div>
        </div>
    </section>
</article>
{{/layout}}
