{% extends "./layout.twig" %}
{% set page = 'chart' %}

{% block page %}{{page}}{% endblock %}

{% block title %}
    Ethplorer — Ethereum Tokens Index. Market Cap and Operations historical chart
{% endblock %}

{% block meta %}
    <meta name="description" content="" />
    <meta name="og:url" content="https://ethplorer.io/index" />
    <meta name="og:title" content="Ethplorer — Ethereum Tokens Index. Market Cap and Operations historical chart" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="{{ asset('../assets/images/bg2.jpg') }}" />
{% endblock %}

{% block content %}
<div class="container">
    {% include '@components/adsbygoogle.twig' %}
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="h2 mt-5 font-weight-bold">Ethereum Tokens Index</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <div id="token-top"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@components/see-also.twig' with { 'active': page } %}
{% endblock %}
