{% extends "./layout.twig" %}
{% set page = 'index' %}

{% block page %}{{page}}{% endblock %}

{% block title %}
    Ethplorer — Ethereum tokens explorer and data viewer. Top tokens, Charts, Pulse, Analytics
{% endblock %}

{% block meta %}
    <meta name="description" content="" />
    <meta name="og:url" content="https://ethplorer.io" />
    <meta name="og:title" content="Ethplorer — Ethereum tokens explorer and data viewer. Top tokens, Charts, Pulse, Analytics" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col mb-4 text-center text-xl-left">
            <h1 class="mt-5 font-weight-bold">Ethereum Tokens Explorer</h1>
            <h2 class="h5 font-weight-bold mb-4">
                Your friendly gate into the Ethereum tokens world
            </h2>
            <form
                id="search-form"
                class="d-flex flex-column flex-sm-row align-items-sm-start"
                action="/search/"
                method="POST"
                novalidate
            >
                <input type="hidden" name="from" value="homeSearch" />
                <div class="mr-sm-3 mb-2 mb-sm-0 flex-grow flex-fill">
                    <label class="sr-only" for="ethplore-address">Token name</label>
                    <input
                        id="ethplore-address"
                        name="data"
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Enter tx / address / token name"
                        autocomplete="off"
                        required
                    />
                    <div class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg mb-2 mb-sm-0">
                    Ethplore →
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4 text-white-50 text-center text-xl-left">
            <p class="h5">
                Show your token traction and use token's API with Ethplorer widgets
            </p>
            <p class="h5 font-weight-bold">
                <a href="/widgets?from=ehome" class="highlighted text-white-50">Get a widget</a>,
                <a
                    href="https://github.com/EverexIO/Ethplorer/wiki/Ethplorer-API"
                    class="highlighted text-white-50"
                    rel="noopener nofollow"
                    target="_blank"
                >use API</a>
                or
                <a href="#samples" class="highlighted text-white-50">see samples</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl d-flex flex-column">
            <div class="card flex-fill bg-dark mb-4">
                <div class="card-body pb-0 px-0 pt-3">
                    <h3 class="h5 card-title mx-3 font-weight-bold text-center text-xl-left">Top Tokens Activity</h3>
                    <div id="token-top"></div>
                </div>
                <div class="card-footer text-center">
                    <a href="/top" class="text-primary">view top 50...</a>
                </div>
            </div>

            {# <div class="card bg-transparent mb-4 d-none d-md-block border-0">
                <div class="card-body d-flex flex-column flex-sm-row">
                    <a href="#subscribe" class="btn btn-primary btn-lg mr-sm-2 mb-2 font-weight-bold flex-fill" data-toggle="modal" data-target="#modal-subscribe">
                        Subscribe
                    </a>
                    <a href="http://bit.ly/ethp-contact" class="btn btn-light btn-lg  mb-2 font-weight-bold flex-fill" target="_blank" rel="noopener nofollow">
                        Contact us
                    </a>
                </div>
            </div> #}
        </div>
        <div class="col-xl d-flex flex-column">
            <div class="card flex-fill bg-dark mb-4">
                <div class="card-body pb-0 px-0 pt-3">
                    <h3 class="h5 card-title mx-3 font-weight-bold text-center text-xl-left">Ethereum Tokens Index</h3>
                    <div id="token-pulse"></div>
                </div>
                <div class="card-footer text-center">
                    <a href="/index?from=homeWidget" class="text-primary">view full...</a>
                </div>
            </div>

            <div class="card flex-fill bg-dark mb-4">
                <div class="card-body pb-0 px-0 pt-3">
                    <h3 class="h5 card-title mx-3 font-weight-bold text-center text-xl-left">Recent token Transactions</h3>
                    <div id="token-last"></div>
                </div>
                <div class="card-footer text-center">
                    <a href="/last" class="text-primary">view more...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <h2 class="h4 card-title font-weight-bold text-center mb-3">
        About Ethplorer
    </h2>
    <div class="row">
        <div class="col-sm col-md-5 offset-md-1 text-white-50">
            <p>
                Token information and analytics for crypto investors, brokers, hedge funds and cryptomarket traders.
            </p>
            <p>
                Easy access to Ethereum-issued tokens, along with charts and in-depth transactions history based on token addresses, helping users to turn knowledge into powerful decision making.
            </p>
        </div>
        <div class="col-sm col-md-5 text-white-50">
            <p>
                <a
                    href="/address/0xd47297cdcf36eed17305d6a5471c6cd482c7e91c"
                    class="highlighted text-white-50"
                ><b>Track portfolio</b></a>
                for any Ethereum address with historical balance charts and transactions.
            </p>
            <p>
                Complete address analytics from historical balances to the volumes of trading, operations and transfers per token per day.
            </p>
            <p>
                <a
                    href="https://github.com/EverexIO/Ethplorer/wiki/Ethplorer-API"
                    class="highlighted text-white-50"
                    target="_blank"
                    rel="noopener nofollow"
                ><b>Explore</b></a>
                marketing possibilities with token API and display widgets.
            </p>
        </div>
    </div>
</div>

<div class="container mb-4">
    {% include '@components/samples.twig' %}
</div>

<div class="container mb-4">
    {% include '@components/powered.twig' %}
</div>
{% endblock %}
