{% extends "./layout.twig" %}
{% set page = 'last' %}

{% block page %}{{page}}{% endblock %}

{% block title %}
    Ethplorer — Last Ethereum tokens transactions in real-time
{% endblock %}

{% block meta %}
    <meta name="description" content="" />
    <meta name="og:url" content="https://ethplorer.io/last" />
    <meta name="og:title" content="Ethplorer — Last Ethereum tokens transactions in real-time" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="{{ asset('../assets/images/bg2.jpg') }}" />
{% endblock %}

{% block content %}
<div class="container">
    {% include '../templates/adsbygoogle.twig' %}
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5 font-weight-bold">Recent Ethereum token transactions monitor</h1>
            <hr class="bg-white w-25 my-4" />
            <p>refreshing in real-time</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <div id="token-last"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../templates/see-also.twig' with { 'active': page } %}
{% endblock %}
