{% extends "./layout.twig" %}
{% set page = 'privacy' %}

{% block page %}{{page}}{% endblock %}

{% block title %}
    Ethplorer — Privacy &amp; Terms
{% endblock %}

{% block meta %}
    <meta name="description" content="" />
    <meta name="og:url" content="https://ethplorer.io/privacy" />
    <meta name="og:title" content="Ethplorer — Privacy &amp; Terms" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="{{ asset('../assets/images/bg2.jpg') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            <div class="card bg-white border-0 my-5">
                <div class="card-body text-dark p-3 p-sm-5">
                    <h1 class="card-title font-weight-bold text-center mb-4">Privacy Policy and Website Terms</h1>
                    <p class="card-text">
                        This privacy policy is for this website and any services provided through the ordinary course of business.
                        Our website is ethplorer.io ("The Website") and is owned and operated by Everex One Pte. Ltd. a company registered in Singapore ("The Company").
                        This policy governs the privacy of both users who choose to use our website or engage with any of our services for both with and without consideration ("Users").
                        <br /><br />
                        The policy sets out the different areas where user privacy is concerned and outlines the obligations &amp; requirements of the users, the website and The Company.
                        Furthermore, the way this website and company processes, stores and protects user data and information will also be detailed within this policy.
                        <br /><br />

                        1. The Website
                        <br /><br />
                        1.1 This website and its owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users throughout their visiting experience.
                        <br /><br />
                        1.2 For the avoidance of doubt the website and all company data is hosted, stored and maintained within the APAC region.
                        <br /><br />

                        2. Use of Cookies 2.1 This website uses cookies to better the users experience while visiting the website.
                        Where applicable this website uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of cookies on their computer / device.
                        This complies with recent legislation requirements for websites to obtain explicit consent from users before leaving behind or reading files such as cookies on a user's computer / device.
                        <br /><br />
                        2.2 Cookies are small files saved to the user's computers hard drive that track, save and store information about the user's interactions and usage of the website.
                        This allows the website, through its server to provide the users with a tailored experience within this website.
                        <br /><br />
                        2.3 Users are advised that if they wish to deny the use and saving of cookies from this website on to their computers hard drive they should take necessary steps within their web browsers security settings to block all cookies from this website and its external serving vendors.
                        <br /><br />
                        2.4 This website uses tracking software to monitor its visitors to better understand how they use it.
                        This software is provided by Google Analytics which uses cookies to track visitor usage.
                        The software will save a cookie to your computers hard drive in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information.
                        You can read Google's privacy policy here for further information http://www.google.com/privacy.html
                        <br /><br />
                        2.5 Other cookies may be stored to your computers hard drive by external vendors when this website uses referral programs, sponsored links or adverts.
                        Such cookies are used for conversion and referral tracking and typically expire after 30 days, though some may take longer.
                        No personal information is stored, saved or collected.
                        <br /><br />

                        3. Contact &amp; Communication
                        <br /><br />
                        3.1 Users contacting this website and/ or The Company do so at their own discretion and provide any such personal details requested at their own risk.
                        Your personal information is kept private and stored securely until a time it is no longer required or has no use, as detailed in Data Protection Laws.
                        Every effort has been made to ensure a safe and secure form to email submission process but advise users using such form to email processes that they do so at their own risk.
                        <br /><br />
                        3.2 This website and its owners use any information submitted to provide you with further information about the products / services they offer or to assist you in answering any questions or queries you may have submitted.
                        <br /><br />
                        3.3 This includes using your details to subscribe you to any email newsletter program the website operates but only if this was made clear to you and your express permission was granted when submitting any form to email process. Or whereby you the consumer have previously purchased from or inquired about purchasing from the company a product or service that the email newsletter relates to. This is by no means an entire list of your user rights in regard to receiving email marketing material. Your details are not passed on to any third parties.
                        <br /><br />
                        3.4 In sending the company or the website your personal information you are consenting to allow the company to contact you subject to the above conditions. Any data held by the company relating to individuals will be stored and destroyed once a period of 12 months of no communication has occurred between The User and The Company.
                        <br /><br />
                        3.5 The company will never knowingly or willingly pass information it holds on Users (For clarity this includes: clients, prospects, or website users) onto a third party without the consent of the said user.
                        <br /><br />

                        4. Email
                        <br /><br />
                        4.1 From time to time The Company operates various email campaigns program, (at all times we refer to these as a Newsletter Program) used to inform subscribers about products and services supplied by this website. Users can subscribe through an online automated process should they wish to do so but do so at their own discretion. Some subscriptions may be manually processed through prior written agreement with the user.
                        <br /><br />
                        4.2 Subscriptions are taken in compliance with Spam Law which will vary from state to state and the user should review these. All personal details relating to subscriptions are held securely and in accordance with Data Protection Laws. No personal details are passed on to third parties nor shared with companies / people outside of the company that operates this website. Under Data Protection Laws you may request a copy of personal information held about you by this website's email newsletter program. A small fee will be payable. If you would like a copy of the information held on you please write to the business address at the bottom of this policy.
                        <br /><br />
                        4.3 Email marketing campaigns published by this website or its owners may contain tracking facilities within the actual email. Subscriber activity is tracked and stored in a database for future analysis and evaluation. Such tracked activity may include; the opening of emails, forwarding of emails, the clicking of links within the email content, times, dates and frequency of activity [this is by no far a comprehensive list].
                        <br /><br />
                        4.4 This information is used to refine future email campaigns and supply the user with more relevant content based around their activity.
                        <br /><br />
                        4.5 In compliance with Spam Laws and the Privacy and Electronic Communications Laws subscribers are given the opportunity to un-subscribe at any time through an automated system. This process is detailed at the footer of each email campaign. If an automated un-subscription system is unavailable clear instructions on how to un-subscribe will by detailed instead.
                        <br /><br />
                        4.6 At all times our email campaigns are run through third party providers such as Mailchimp. Users are advised to refer to the specific terms and conditions attached to these third party companies. Users can easily remove themselves from any email communication by "unsubscribing"
                        <br /><br />
                        4.7 The Company holds no liability as to any damages or losses associated with the use of any third party email service provider. In engaging with the company or continuing use of the website you hereby expressly accept that the Company holds no such liability
                        <br /><br />

                        5. External Links
                        <br /><br />
                        5.1 While ever effort has been made to include quality, safe and relevant external links within this website, users are advised adopt a policy of caution before clicking any external web links mentioned throughout this website. (External links are clickable text / banner / image links to other websites)
                        <br /><br />
                        5.2 The owners of this website and the company cannot guarantee or verify the contents of any externally linked website despite their best efforts. Users should therefore note they click on external links at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.
                        <br /><br />

                        6. Adverts and Sponsored Links
                        <br /><br />
                        6.1 This website may contain sponsored links and adverts. These will typically be served through our advertising partners, to whom may have detailed privacy policies relating directly to the adverts they serve.
                        <br /><br />
                        6.2 Clicking on any such adverts will send you to the advertisers website through a referral program which may use cookies and will track the number of referrals sent from this website. This may include the use of cookies which may in turn be saved on your computers hard drive. Users should therefore note they click on sponsored external links at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.
                        <br /><br />
                        6.3 The owners of this website and the company cannot guarantee or verify the contents of any externally linked website despite their best efforts. Users should therefore note they click on external links at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.
                        <br /><br />

                        7. Social Media Platforms
                        <br /><br />
                        7.1 Communication, engagement and actions taken through external social media platforms that this website, the company, and its owners participate on are custom to the terms and conditions as well as the privacy policies held with each social media platform respectively.
                        <br /><br />
                        7.2 Users are advised to use social media platforms wisely and communicate / engage upon them with due care and caution in regard to their own privacy and personal details. This website nor its owners will ever ask for personal or sensitive information through social media platforms and encourage users wishing to discuss sensitive details to contact them through primary communication channels such as by telephone or email.
                        <br /><br />
                        7.3 This website may use social sharing buttons which help share web content directly from web pages to the social media platform in question. Users are advised before using such social sharing buttons that they do so at their own discretion and note that the social media platform may track and save your request to share a web page respectively through your social media platform account.
                        <br /><br />
                        7.4 The Company holds responsibility for any and all comments, posts or any other action taken on social media belonging to the company. Social media can easily be identified as belonging to the company by the name of the account on the relevant social media platform. Any and all comments and actions made on social media are not intended to cause offense or serve as a defamatory action. Each and every posting will be checked for accuracy.
                        <br /><br />
                        7.5 If you believe your intellectual property rights, personal rights, or any other rights have been infringed by any action on social media you are to notify the company as soon as possible so that the company has an opportunity to rectify and/or remove the post.
                        <br /><br />

                        8. Shortened Links in Social Media
                        <br /><br />
                        8.1 This website and its owners through their social media platform accounts may share web links to relevant web pages. By default some social media platforms shorten lengthy domains and URL's to third party pages.
                        <br /><br />
                        8.2 Users are advised to take caution and good judgement before clicking any shortened urls published on social media platforms by this website and its owners. Despite the best efforts to ensure only genuine urls are published many social media platforms are prone to spam and hacking and therefore this website and its owners cannot be held liable for any damages or implications caused by visiting any shortened links.
                        <br /><br />

                        <strong>9. API Use and Limitation</strong>
                        <br />
                        9.1 The website provides functional application Programming Interface (API) Services. These services are used at the sole discretion and risk of the User.
                        <br /><br />
                        9.2 The User hereby acknowledges that the Company has no liability for any losses or damages resulting from the use, deployment, instilation, or attempted use of the API facilities.
                        <br /><br />

                        <strong>10. Website Information</strong>
                        <br />
                        10.1 Any information published on the website is for reference purposes only and is accurate at the time of publication. A large amount of website information is driven by third party sources, all information is accepted in an "as is" state and is not checked for accuracy.
                        <br /><br />
                        10.2 In using the Website the User hereby acknowledges the limitations on information contained in clause 10.1.
                        <br /><br />

                        <strong>11. Notices</strong>
                        <br />
                        11.1 This website pertains to Cryptocurrencies that are "active" in use by their respective owners (including EVX from Everex). The use of Cryptocurrencies and the participation in Initial Coin Offering's (ICO's) is banned and forbidden in certain countries, internationally.
                        <br /><br />
                        11.2 In using this website, the User hereby warrants and agrees that they understand and have a good working knowledge of Cryptocurrencies and the Cryptocurrency market.
                        <br /><br />

                        <strong>12. Disclaimers</strong>
                        <br />
                        12.1 This website is offered for reference purposes only and does not constitute any investment advice or solicitation for investment. The content displayed on this website is not verified or checked for correctness, and displayed AS IS. The information contained on this website is for the purposes of information related to transaction volume between independent users and does not include the promotional or (company) owning activities which are correlated to calculate the use of any Cryptocurrency or ICO. It is strongly recommended to verify the information displayed on this website with third party sources.
                        <br /><br />
                        12.2 The Company shall accept no liability for any losses, damages, or other causes of action against them, their staff, agents, or directors claimed or brought by any User connected with the use of this website. The User hereby expressly agrees to this condition.
                        <br /><br />
                        12.3. All token related information provided at the site Ethplorer.io("Ethplorer ") is obtained and transferred from third party sources. This information is presented for convenience and informational purposes only. It should not be considered legal, financial or investment advise.
                        <br /><br />

                        <strong>13. Governing Law and Jurisdiction</strong>
                        <br />
                        13.1 This privacy policy and any and all items posted on behalf of the company are strictly subject to the Laws of Singapore the courts of Singapore have jurisdiction.
                        <br /><br />
                        13.2 The User, in using the website or engaging in social media belonging to the company expressly agrees that they are accepting the terms of this privacy policy.
                        <br /><br />
                        13.3 Any disagreement and all notices are to be delivered to the company registers office.
                        <br /><br />
                        13.4 If any part of this policy is found to be defective, the remaining elements of the policy shall remain in place.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../templates/see-also.twig' with { 'active': page } %}
{% endblock %}
