{% extends "./layout.twig" %}
{% set page = 'top-weekly' %}

{% block page %}{{page}}{% endblock %}

{% block title %}
    Top 50 Ethereum Tokens - Weekly
{% endblock %}

{% block meta %}
    <meta name="description" content="" />
    <meta name="og:url" content="https://ethplorer.io/top/weekly" />
    <meta name="og:title" content="Top 50 Ethereum Tokens - Weekly" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="{{ asset('../assets/images/bg2.jpg') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5 font-weight-bold">Top Ethereum Tokens Activity</h1>
            <p>*grouped by operations count</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <div id="token-top-weekly"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../components/see-also.twig' with { 'active': page } %}
{% endblock %}
