{% extends "./layout.twig" %}
{% set page = 'widgets' %}

{% block page %}{{page}}{% endblock %}

{% block title %}
    Ethplorer - Widgets and Charts for Ethereum Tokens
{% endblock %}

{% block meta %}
    <meta name="referrer" content="never" />
    <meta name="referrer" content="no-referrer" />
    <meta name="description" content="" />
    <meta name="og:url" content="https://ethplorer.io/widgets" />
    <meta name="og:title" content="Ethplorer - Widgets and Charts for Ethereum Tokens" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="{{ asset('../assets/images/bg2.jpg') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8">
            <h1 class="mt-5 mb-4">
                Widgets and Charts<br/>for Ethereum Tokens
            </h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-5">
            <p>
                Display the activity of your token right from your website!
                Ethplorer offers a few modes of highly customizable widgets.
                Popular widget modes are Token Activity Chart (for the last month), Recent Transactions, Top Ethereum tokens activity.
            </p>
            <p>
                Charts are based on Google Charts, so you can customize it as you like by referring to
                <a href="https://developers.google.com/chart/" class="text-primary" target="_blank" rel="noopener nofollow">Google Charts instructions</a>.
            </p>
            <p>
                Below see different samples of widgets and customizations.
            </p>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <div class="alert alert-info font-italic small">
                Note: the most simple way to get a widget for your token is<br/>
                1) find your token in Ethplorer, and<br/>
                2) use the widget link there.
            </div>
        </div>
    </div>
</div>
<div class="bg-white text-dark my-5">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8">
                <h3>How to install widget code</h3>
                1. Add jQuery in the HEAD section of your page (if not present):
                {% set jQueryScript = '<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>' %}
                <pre class="alert alert-secondary small p-2">{{ jQueryScript|e }}</pre>
                2. Get any widget code displayed below, put div placeholder and code somewhere in BODY section.<br/>
                3. Customize widget data and style using options and styles (optional).
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8">
            <h2>Chart Widgets</h2>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-7 col-sm-6 col-md-5">
            <h3 class="h4">Token Activity Chart</h3>
        </div>
        <div class="col-5 col-sm-4 col-md-3 text-right">
            <button
                class="btn btn-info"
                data-code="ethplorer-textarea-1"
                data-description="Setup in options 'token' and 'title' parameters to address and name of your token."
            >Get Code</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-10 col-md-8">
            <div id="token-history-grouped-1" class="text-dark"></div>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-7 col-sm-6 col-md-5">
            <h3 class="h4">Customized Tokens Activity Chart</h3>
        </div>
        <div class="col-5 col-sm-4 col-md-3 text-right">
            <button
                class="btn btn-info"
                data-code="ethplorer-textarea-2"
            >Get Code</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-10 col-md-8">
            <div id="token-history-grouped-2" class="text-dark"></div>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-7 col-sm-6 col-md-5">
            <h3 class="h4">Dark Theme Chart</h3>
        </div>
        <div class="col-5 col-sm-4 col-md-3 text-right">
            <button class="btn btn-info" data-code="ethplorer-textarea-3">Get Code</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-10 col-md-8">
            <div id="token-history-grouped-3"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8">
            <h2>Text Widgets</h2>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-7 col-sm-6 col-md-5">
            <h3 class="h4">Recent Token Activity</h3>
        </div>
        <div class="col-5 col-sm-4 col-md-3 text-right">
            <button class="btn btn-info" data-code="ethplorer-textarea-10">Get Code</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-10 col-md-8">
            <div id="token-txs-10"></div>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-7 col-sm-6 col-md-5">
            <h3 class="h4">Customized Token Activity Widget</h3>
        </div>
        <div class="col-5 col-sm-4 col-md-3 text-right">
            <button class="btn btn-info" data-code="ethplorer-textarea-11">Get Code</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-10 col-md-8">
            <div id="token-txs-11"></div>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <div class="col-7 col-sm-6 col-md-5">
            <h3 class="h4">Top Tokens by Activity</h3>
        </div>
        <div class="col-5 col-sm-4 col-md-3 text-right">
            <button class="btn btn-info" data-code="ethplorer-textarea-12">Get Code</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-10 col-md-8">
            <div id="token-txs-12"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-editor" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title">Widget Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="dialog-editor-descr"></p>
        <pre class="m-0"><code id="dialog-editor-code" class="html pb-0 small editor-code"></code></pre>
      </div>
    </div>
  </div>
</div>

{% include '@components/see-also.twig' with { 'active': page } %}
{% include '@components/disqus.twig' %}
{% endblock %}

{% block scripts %}
{% verbatim %}
    {% if scriptAddon %}
        <script>
            {{ scriptAddon|raw }}
        </script>
    {% endif %}
{% endverbatim %}
{% endblock %}
