<div
  id="cookie-notify"
  class="alert alert-light fixed-bottom m-0 border-0 rounded-0 py-3"
  role="alert"
>
  <div class="container small text-center text-dark">
    We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.
    <nobr>Find out more in <a href="/privacy" class="text-info" target="_blank">Privacy Policy</a>.</nobr>
    <button
      type="button"
      class="btn btn-primary btn-sm btn-block-xs-only px-3 mt-3 mt-md-0 mx-auto ml-md-3 d-block d-md-inline"
      data-dismiss="alert"
      aria-label="Close"
    >
      Got it
    </button>
  </div>
</div>
