<footer class="footer mt-auto flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-sm text-secondary">
                <img
                    src="../../assets/images/autothumb.png"
                    width="140"
                    decoding="async"
                    importance="low"
                    alt="Ethplorer"
                    class="mb-4"
                />
                <p class="mb-4">
                    © 2016-2019
                    <a href="https://everex.io/" target="_blank" rel="noopener noreferrer" class="highlighted text-secondary">
                        Everex
                    </a>
                    <br />
                    <a href="/privacy" class="highlighted text-secondary">
                        Privacy &amp; Terms
                    </a>
                </p>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled mb-4">
                    <li class="mb-2">
                        <a href="/widgets?from=ehomefoot" class="highlighted">
                            <strong>Widgets</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/EverexIO/Ethplorer" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>Sources</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/EverexIO/Ethplorer/wiki/Ethplorer-API" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>API</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/EverexIO/Ethplorer/issues" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>Github Issue</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://twitter.com/ethplorer" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>Twitter</strong>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled mb-4">
                    <li class="mb-2">
                        <a href="http://bit.ly/ethp-contact" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>Contact</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#subscribe" class="highlighted">
                            <strong>Subscribe</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.reddit.com/r/ethplorer/" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>Discuss at Reddit</strong>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="http://bit.ly/ethp-contact" class="highlighted" target="_blank" rel="noopener noreferrer">
                            <strong>Update your Token info</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
